[run]
branch = True
omit = */tests/*,*/tests.py
source = mezzanine_fluent_pages

[report]
exclude_lines =
    def __repr__
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
show_missing = True
